/* // task 1 */
/* body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 350px;
  padding: 30px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
}

h1 {
  text-align: center;
  margin-bottom: 25px;
}

label {
  display: block;
  margin-bottom: 7px;
  margin-top: 15px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 11px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

.error {
  margin-top: 7px;
  padding: 8px;
  background: #ffe5e5;
  color: red;
  border-radius: 5px;
  font-size: 13px;
}

button {
  width: 100%;
  margin-top: 25px;
  padding: 12px;
  border: none;
  border-radius: 6px;
  background: #222;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #444;
} */
 /* // task 2
 body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.password-box {
  width: 400px;
  padding: 30px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
}

h1 {
  text-align: center;
}

label {
  display: block;
  margin: 20px 0 7px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 12px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.strength-box {
  margin-top: 20px;
}

.strength-text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background: #ddd;
  border-radius: 10px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background: #222;
  transition: width 0.3s;
}

ul {
  padding-left: 20px;
}

li {
  margin: 7px 0;
  color: #888;
}

li.valid {
  color: green;
} */
 /* task 3 */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-box {
  width: 420px;
  padding: 30px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 25px;
}

.steps {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 25px 0;
}

.steps span {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #ddd;
}

.steps .active {
  background: #222;
  color: white;
}

label {
  display: block;
  margin: 15px 0 7px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 11px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 6px;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  border: none;
  border-radius: 6px;
  background: #222;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #444;
}

.buttons {
  display: flex;
  gap: 10px;
}

.buttons button {
  flex: 1;
}

.summary {
  padding: 15px;
  background: #f3f3f3;
  border-radius: 8px;
}